*{
	margin: 0;
	padding: 0;
}
body{
 
}


.header {
  width: 100%;
  height: 150px;
  background-color: black;
}

h1{ 
	color: white;
	text-align: center;
	padding-top: 50px;
	font-family: Comic Sans MS;

}

p{
	font-family: Comic Sans MS;
	display: inline;
	margin-left: 50px;

}


button#hard{
	padding: 10px;
	float: right;

}

button#simple{
	padding: 10px;
}

#Ssom1{
	display:none; ;
	width: 300px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;	
	background-color: white;
}


#Hsom1{
	display:none; ;
	width: 300px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;	
	background-color: white;
}

.difficulty {
	height: 42px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

#puntdiv{
	
	text-align: center;
}

#controleerknop{
	height: 42px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

button#knop{
	padding: 10px;
	margin-left: 30%;
}

