*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 20px;
}

h2{
	font-size: 20px;
	line-height: 22px;
	margin-top: 10px;
}

h1{
	font-size: 26px;
	line-height: 30px;
}

.grid-container{
	width: 1100px;
	display: grid;
	grid-template-columns: 139px 137px 137px 137px 137px 137px 137px 139px; 
	
	margin: auto auto;
	padding-top: 5px;
}

.item{
	/*background-color: #f5f5f5;*/
}

.logo{
	background-image: url(../img/header_bg.png);
	grid-column: 1 / 4;
  	grid-row: 1;
}

.menu{
	background-image: url(../img/header_bg.png);
	grid-column: 4 / 9;
  	grid-row: 1;
  	
}

.menu li{
	list-style-type: none;
	float: left;
	padding-left: 25px;
	font-size: 20px;
	line-height: 30px;
	padding-top: 30px;
}

.menu a{
	text-decoration: none;
	color: black;
}

/*alle content die in de header staat*/
.header{
	background-image: url(../img/banner_bg.png);
	grid-column: 1 / 6;
  	grid-row: 2;
}

.header2{
	background-image: url(../img/banner_bg.png);
	grid-column: 4 / 9;
  	grid-row: 2;
}

.banner{
	padding-top: 25px;
	padding-left: 40px;
	padding-bottom: 75px;
	height: 300px;
	width: 600px;
}



.headertxt{
	background-image: url(../img/banner_bg.png);
	grid-column: 6 / 9;
  	grid-row: 2;
  	padding-top: 35px;
  	color: white;
}

.headertxt p{
	padding-top: 10px;
	padding-right: 50px;
}

.headertxt2{
	background-image: url(../img/banner_bg.png);
	grid-column: 1 / 4;
  	grid-row: 2;
  	padding-top: 35px;
  	color: white;
}

.headertxt2 p, .headertxt2 h1{
	padding-top: 10px;
	padding-left: 50px;
}

.fade-slider{
	grid-column: 1 / 4;
	grid-row: 3;
	padding-top: 30px;
	padding-left: 50px;
	width: 300px;
}


.nivo-slider{
	grid-column: 4 / 6;
	grid-row: 3;
	padding-top: 30px;
	margin-left: -13px;
	width: 300px;
}



.bonus-slider{
	grid-column: 6 / 9;
	grid-row: 3;
	padding-top: 30px;
	padding-left: 57px;
	width: 300px;
}

.fade-slider p, .nivo-slider p, .bonus-slider p{
	padding-top: 10px;
}

.footer{
	grid-column: 1 / 9;
	grid-row: 4;
	background-image: url(../img/footer_bg.png);
	text-align: center;
	color: white;
	padding: 10px;
	margin-top: 86px;
}